/*AbaixO DE 768 */

@media (max-width: 768px) {
    


    .topo img {
        width: 80%;
    }

    .topo div button {
        width: 60%;
        padding: 15px;
    }

    .sobre img {
        margin-left: 0%;
        width: 300%;
    }


    .servico h2 {
        margin-left: 0%;
    }

    .site h3 {
        font-size: 2.1em;

    }

    .listaTodos {
        margin-left: -2%;
        margin-bottom: 5%;

    }

    .lista2 {
        margin-left: 19%;
    }

    .equipe img {
        margin-left: 5%;
        width: 97%;
        padding: 1%;
    }

    .btn button {
        width: 48%;
        padding: 13px;
    }

    .serv {
        width: 90%;
        padding: 35px;
        margin-left: 6%;
    }

    .servFT {
        display: flex;
        justify-content: space-around;
    }

    .servFOTO {
        display: none;
    }

    .horarioFT {
        width: 90%;
        margin-top: 4%;
        margin-left: 6%;
    }

    .msgn input {
        padding: 0% 35% 19% 0%;
    }

    .mesage input {
        width: 93%;
        margin: 0 auto;
    }
}



/* 600 para baixo */
@media not all and (max-width: 600px) {

    .abrir-menu,
    .fechar-menu {
        display: none;
    }
}

@media (max-width: 600px) {

    .maps iframe {
        width: 100%;
    }

  

    .recado div {
        width: 64%;
        margin-left: 17%;
    }


    .menu ul {

        font-size: 1.4em;
        border: none;

    }

    .menu li a {
        color: #ffffff;
    }

    .menu a:hover {
        color: #f4a041;
    }

    .menu li:nth-child(2) {
        margin-top: 25%;
    }

    .menu li:nth-child(3) {
        margin-top: 25%;
    }

    .menu li:nth-child(4) {
        margin-top: 25%;
    }

    .menu {
        background: rgba(0, 0, 0, 0.463);
        height: 100%;
        position: fixed;
        z-index: 10;
        width: 50%;
        max-width: 300px;
        top: 0;
        margin: 0;
        right: -300px;
        transition: right .5s ease-out;
    }

    .menu-mobile .menu {
        left: 0%;
    }

    .site {
        padding: 15px;
    }

    .abrir-menu {
        background: url(../img/btnmenu.png);
        background-size: cover;
        padding: 28px;
        border: 0;
        display: block;

    }

    .menu .fechar-menu {
        background: url(../img/btnfechar.png);
        background-size: cover;
        padding: 10%;
        width: 0%;
        border: 0;
        display: block;
        margin: 1% 0% 1% 80%;
    }


    .menu {
        flex-direction: column;
        justify-content: start;
        text-align: center;


    }

    .menu ul {
        flex-direction: column;
        margin-top: 70px;

    }


    .topo img {
        width: 100%;
    }


    .topo h1 {
        padding: 10px;
        font-size: 1.5em;
    }

    .topo div button {
        font-size: 0.8em;
        width: 75%;
        padding: 12px;
        margin-bottom: 20px;
    }

    .sobre img {
        display: none;
    }

    .site p {

        margin-left: 15%;
        margin-right: 10%;
        font-size: 1.6em;
    }

    .listaTodos {
        margin-left: 30px;

        font-size: 1.6em;
    }

    .btn button {
        font-size: 1.7em;
        width: 70%;
        padding: 8px;
    }

    .equipe {
        width: 100%;
    }


    .equipe img {
        margin-left: 0px;
        margin-top: 60px;
        width: 100%;
        padding: 5px;
        margin-bottom: 50px;
        border: 3px solid #f1af64
    }

    .equipe img:hover {
        border: 1px solid #ffead2;

    }

    .todosEquipe {
        padding: 20px;
    }


    .serv {
        width: 100%;
        padding: 7px;
        font-size: 0.8em;
        margin-bottom: 0%;
        margin-left: 0%;
    }


    .serv img {
        margin-left: 20px;

    }

    .horarioFT img {
        width: 13%;
        height: 133%;

    }

    .horarioFT {
        width: 99%;
        margin-top: 63px;
        margin-left: 0%;
    }

    .horarioFT h3 {
        font-size: 1.7em;
        margin-top: 30px;
        margin-left: 19px;
    }

    .servFOTO {
        display: none;
    }

    .contato a:nth-child(2) {
        margin-bottom: 50px;
    }


    .msgn input {

        padding: 0% 17% 20% 0%;
    }

    .butnRodape button {
        width: 56%;
        margin-top: 30px;
    }

    .equipePagina {
       
       flex-direction: column;
    }


}


@media (max-width: 550px) {

    .crts {
        display: none;
    }

    .site p {
        margin-left: 1%;
        margin-right: 0%;
        font-size: 1.8em;
    }

    .listaTodos {
        display: flex;
        flex-direction: column;
    }

    .lista2 {
        margin-left: 0%;
        margin-top: 15%;
    }

    .serv img {
        display: none;
    }

    .servibtn button {
        width: 79%;
        padding: 5px;
        margin-left: 10%;

    }


    .horarioFT img {
        display: none;
    }

    .horarioFT h3 {
        margin: 0%;
        padding: 3%;
    }

    .msgn input {
        width: 100%;
        padding: 0% 0% 20% 0%;
    }

    .nomeDEV {
        text-align: center;
    }


}










@media (max-width: 320px) {
    .topo {
        padding: 0px;
    }

    .menu {
        background: rgba(0, 0, 0, 0.359);

    }


    .menu a {
        font-size: 1.6em;
    }

    .menu ul {

        margin-top: 60%;
    }

    .menu .fechar-menu {
        padding: 19%;
        margin: 1% 0% 1% 67%;
    }

    .menu li:nth-child(2) {
        margin-top: 50%;
    }

    .menu li:nth-child(3) {
        margin-top: 50%;
    }

    .menu li:nth-child(4) {
        margin-top: 50%;
    }

    .servico h2 {
        justify-content: left;
        margin-left: 35px;
    }

    .site p {
        margin-right: 6%;
    }

    .site h3 {
        display: flex;
        justify-content: left;
        font-size: 1.9em;
        margin-top: 7%;
        margin-left: 4%;
        width: 85%;
    }

    .listaTodos {
        display: flex;
        flex-direction: column;
        margin-left: 1%;
    }

    .lista2 {
        margin-top: 10%;
        margin-left: 1%;
    }

    .equipe img {
        display: none;
    }

    .btn button {
        width: 93%;
        font-size: 1.5em;
        padding: 12px;
    }

    .servico h2 {
        justify-content: left;
        margin-left: 7%;
        font-size: 2.1em;
    }


    .site h3 {
        margin-left: 4%;
    }

    .servFT img {
        display: none;
    }


    .servibtn button {

        font-size: 1.3em;
        width: 73%;
        padding: 11px;
        margin-left: 12%;
        margin-bottom: 8%;
    }

    .serv {
        width: 100%;
        padding: 0px;
        font-size: 0.6em;
        margin-bottom: 0%;
    }

    .crts {
        display: none;
    }

    .butnRodape button {
        width: 89%;
        margin-top: 30px;

    }
  
    .rodape h2 {
        font-size: 2.6em;
        text-align: center;
        padding: 2%;
    }
    .recado div {
        width: 110%;
        margin-left: -6%;
        margin-top: 10%;
    }


    .nomeDEV {

        text-align: center;
    }

}